<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-energized" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Approval</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <label
            class="item  item-input item-select-icon positive-icon item-stacked-label"
            data-comp-id="selectInput.1">
            <span class="input-label required">Select Company</span>
            <select></select>
        </label>
        <button
            class="button positive-border positive-icon button-positive light button-full"
            data-comp-id="button.3">Submit</button>
    </ion-content>
</ion-view>